wandb:
  entity: "ghuang-nlp"
  project: "absolute-bert"
  job_type: "prototype"  # "sweep", "train"
train:
  model_type: "absolute_bert"
#   num_epochs: 1
  max_steps: 100000
# model_params:
#   dims: 512
batch_sizes:
  train: 48
  val: 128
  ir: 32
# optimizer:
# scheduler:
logging:
  params:
    every_n_steps: 500
    rules:  # default: no rules
      # - 
      #   include: ["*"]  # default: []
      #   exclude: []
      #   log_norm: true
      #   log_distribution: true
      -
        include:
          - "base_model.layers.*.layer_norm.bias"
          - "bias"
        exclude: ["*.bias"]
        methods: ["module_norm", "param_dist"]
      -
       include: ["base_model.layers.*.layer_norm.weight"]
       methods: ["param_mean"]
      -
        include: ["*.embedding*"]
        methods: ["norm_dist_along_last_dim"]
  # train: 
  #   every_n_steps: 10
  # val:
  #   every_n_steps: 500
  # if:
  #   every_n_steps: 2000
